.property1defaultChild,
.property1defaultItem {
  position: absolute;
  background-color: var(--colors-primary-purple);
  transform-origin: 0 0;
}
.property1defaultChild {
  height: 68.09%;
  width: 49.99%;
  top: 23.99%;
  right: 50.01%;
  bottom: 7.92%;
  left: 0;
  filter: blur(59px);
  transform: rotate(-24.76deg);
  opacity: 0.01;
}
.property1defaultItem {
  height: 66.74%;
  width: 87.26%;
  top: 10.2%;
  right: -4.33%;
  bottom: 23.06%;
  left: 17.07%;
  transform: rotate(18.12deg);
  opacity: 0.03;
}
.property1defaultInner {
  position: absolute;
  height: 56.07%;
  width: 32.39%;
  top: 19.94%;
  right: 50.98%;
  bottom: 23.99%;
  left: 16.62%;
  background-color: var(--noble-black-700);
  backdrop-filter: blur(13px);
  opacity: 0.01;
}
.ellipseDiv {
  position: absolute;
  height: 32.27%;
  width: 46.09%;
  top: 0;
  right: 43.47%;
  bottom: 67.73%;
  left: 10.44%;
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(217, 217, 217, 0.02),
    rgba(217, 217, 217, 0)
  );
  box-shadow: 0 0 64px rgba(61, 158, 153, 0.04);
}
.abstract04Icon {
  position: absolute;
  height: 46.6%;
  width: 37.83%;
  top: 28.19%;
  right: 43.01%;
  bottom: 25.22%;
  left: 19.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.property1default {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 3780.14px;
  height: 4214.89px;
  opacity: 0.88;
}
.property1variant2Item {
  position: absolute;
  height: 66.74%;
  width: 87.26%;
  top: 10.17%;
  right: -4.33%;
  bottom: 23.08%;
  left: 17.07%;
  background-color: var(--colors-primary-purple);
  transform: rotate(18.12deg);
  transform-origin: 0 0;
  opacity: 0.03;
}
.property1variant2Child2,
.rectangleDiv {
  position: absolute;
  height: 47.47%;
  width: 38.44%;
  top: 27.55%;
  right: 42.78%;
  bottom: 24.98%;
  left: 18.79%;
  background-color: var(--color-gray-500);
  backdrop-filter: blur(43px);
}
.property1variant2Child2 {
  height: 43.16%;
  top: -72.93%;
  bottom: 129.77%;
}
.property1variant2 {
  position: absolute;
  top: 4254.89px;
  left: 20px;
  width: 3780.14px;
  height: 4214.89px;
  opacity: 0.88;
}
.backgroundFuturista {
  position: absolute;
  top: -1208px;
  left: -743.14px;
  border-radius: 5px;
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  width: 3820.14px;
  height: 8489.78px;
  overflow: hidden;
}
.parceriasChild {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--noble-black-800);
  backdrop-filter: blur(4px);
  width: 1439px;
  height: 250px;
}
.frameIcon,
.frameIcon1,
.frameIcon2 {
  position: absolute;
  top: 0;
  left: 286px;
  width: 1154px;
  height: 249px;
  overflow: hidden;
  opacity: 0.6;
}
.frameIcon1,
.frameIcon2 {
  left: 514px;
  width: 468px;
  height: 248px;
}
.frameIcon2 {
  left: 1px;
  width: 513px;
}
.image1Icon,
.lqmsaixel5eljmrrtptig76zbqzch2Icon {
  position: relative;
  width: 235px;
  height: 186px;
  object-fit: cover;
}
.image1Icon {
  width: 263px;
  height: 71px;
}
.lqmsaixel5eljmrrtptig76zbqzch2Parent {
  position: absolute;
  top: 2px;
  left: 0;
  width: 1440px;
  height: 243px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xl) 115px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 198px;
}
.parcerias {
  position: absolute;
  top: 1287px;
  left: 0;
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.25),
    0 4px 11px rgba(107, 107, 107, 0.25) inset;
  width: 1440px;
  height: 250px;
}
.footerChild {
  position: absolute;
  top: 182.49px;
  left: 6px;
  width: 1434px;
  height: 1.01px;
}
.copyrightCodai2023Wrapper,
.footer {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.copyrightCodai2023Wrapper {
  top: 180px;
  width: 1440px;
  height: 87px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.footer {
  top: 1532px;
  width: 1431px;
  height: 269px;
}
.eleveSeusProjetos {
  position: absolute;
  top: 25px;
  left: 23px;
  letter-spacing: 0.15px;
  line-height: 6px;
  font-weight: 600;
}
.frameChild {
  position: absolute;
  top: 43.93px;
  left: 122.55px;
  width: 168.2px;
  height: 10.5px;
}
.eleveSeusProjetosParent {
  position: relative;
  width: 1346px;
  height: 61px;
  overflow: hidden;
  flex-shrink: 0;
}
.inicializeSuasIdeias {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 6px;
  font-weight: 600;
}
.inicializeSuasIdeiasDeUmaWrapper {
  width: 1346px;
  height: 23px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--body-s-medium-size);
}
.clockIcon,
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 384px;
  height: 353px;
}
.clockIcon {
  top: 19.13px;
  left: 14.13px;
  width: 66.75px;
  height: 66.75px;
}
.gereRapidamenteCdigos,
.umFatoConhecido {
  position: absolute;
  letter-spacing: 0.15px;
  line-height: 23px;
  display: flex;
  align-items: center;
}
.gereRapidamenteCdigos {
  top: 84px;
  left: 20px;
  font-weight: 800;
  width: 339px;
  height: 57px;
}
.umFatoConhecido {
  top: 149px;
  left: 24px;
  font-size: var(--font-size-smi);
  width: 349px;
  height: 166px;
}
.vectorParent {
  position: relative;
  width: 384px;
  height: 353px;
}
.beneficio1 {
  width: 394px;
  height: 357px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.codeIcon {
  position: absolute;
  top: 14px;
  left: 8.57px;
  width: 64.85px;
  height: 58px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  height: 11.4%;
  width: 12.51%;
  top: 7.52%;
  right: 82.77%;
  bottom: 81.08%;
  left: 4.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1,
.vectorIcon2 {
  height: 13.79%;
  width: 15.42%;
  top: 6.14%;
  right: 81.22%;
  bottom: 80.08%;
  left: 3.36%;
}
.vectorIcon2 {
  height: 9.24%;
  width: 8.48%;
  top: 8.05%;
  right: 82.22%;
  bottom: 82.71%;
  left: 9.3%;
}
.beneficio1Parent,
.frameGroup {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
}
.beneficio1Parent {
  width: 1290px;
  height: 401px;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 21px 0;
  justify-content: center;
  gap: 28px;
  font-size: var(--body-xl-medium-size);
}
.frameGroup {
  position: absolute;
  top: 662px;
  left: 83px;
  width: 1300px;
  height: 515px;
  flex-direction: column;
  padding: var(--padding-3xs);
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.fundoDaMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 1297px;
  height: 366px;
}
.comearAUsar {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 600;
}
.comearAUsarWrapper {
  border-radius: var(--br-smi);
  background: linear-gradient(90deg, #82dbf7, #b6f09c);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  width: 384px;
  height: 65px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-37xl);
}
.assistaADemonstraoWrapper,
.comearAUsarWrapper,
.frameContainer {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.assistaADemonstraoWrapper {
  border-radius: var(--br-smi);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    0 4px 51px rgba(164, 229, 57, 0.25) inset;
  width: 384px;
  height: 65px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-37xl);
  color: var(--primary-text-white);
}
.frameContainer {
  position: absolute;
  width: 79.18%;
  top: calc(50% - 55px);
  right: 10.25%;
  left: 10.56%;
  height: 245px;
  flex-direction: row;
  padding: var(--padding-3xs) 18px;
  gap: 55px;
  color: var(--noble-black-700);
}
.iaGenerativa {
  background: linear-gradient(90deg, #82dbf7, #b6f09c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.useOPoderContainer {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.tituloPrincipal {
  position: absolute;
  top: 3px;
  left: 116px;
  width: 1064px;
  height: 88px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 41px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  font-size: 44px;
}
.descubraComoNossa {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 882px;
  height: 53px;
  flex-shrink: 0;
}
.main,
.paragrafo {
  position: absolute;
  overflow: hidden;
}
.paragrafo {
  top: 101px;
  left: 207.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-mini);
}
.main {
  top: 171px;
  left: 80px;
  border-radius: 35px;
  background-color: rgba(16, 16, 16, 0.71);
  backdrop-filter: blur(110px);
  width: 1297px;
  height: 366px;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.codai {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  background: linear-gradient(90deg, #82dbf7, #b6f09c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 19px rgba(100, 255, 218, 0.25);
  backdrop-filter: blur(43px);
}
.logarWrapper,
.planosParent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logarWrapper {
  border-radius: var(--br-smi);
  padding: var(--padding-2xs) var(--padding-37xl);
  justify-content: center;
}
.planosParent {
  width: 512px;
  flex-shrink: 0;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: flex-end;
  gap: 51px;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.frameParent,
.header {
  position: absolute;
  overflow: hidden;
}
.header {
  top: 22px;
  left: 80px;
  width: 1297px;
  height: 66px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 19px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 684px;
  font-size: var(--font-size-8xl);
  font-family: var(--font-inter);
}
.frameParent {
  top: 0;
  left: -10px;
  width: 1450px;
  height: 1801px;
  font-size: var(--heading-m-bold-size);
}
.landpage01,
.landpage011 {
  position: relative;
  background-color: var(--noble-black-700);
  height: 1802px;
  overflow: hidden;
}
.landpage011 {
  width: 1440px;
  flex-shrink: 0;
}
.landpage01 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--primary-text-white);
  font-family: var(--body-l-medium);
}
